In [48]:
from datetime import datetime
from IPython.display import display, Markdown
import pandas as pd
import os
pd.set_option("display.max_rows", 200)
pd.options.display.float_format = "{:,.1f}".format
float_formatter = "{:,.0f}".format
import summary_statistics as ss
from config import year_end_list, demographics

In [45]:
df = ss.combined_results_read()
df

                    ast007_num  ast007_denom  value        date
attribute category
Age       70-79           62.0          69.0    0.9  2019-03-01
          missing          NaN           NaN    NaN  2019-03-01
          80+              NaN          53.0    NaN  2019-03-01
          60-69           77.0          72.0    1.1  2019-03-01
          20-29           65.0          61.0    1.1  2019-03-01
          40-49           64.0           NaN    NaN  2019-03-01
          30-39           53.0          57.0    0.9  2019-03-01
          0-19            54.0          70.0    0.8  2019-03-01
          50-59           74.0          67.0    1.1  2019-03-01
          60-69           60.0          63.0    1.0  2020-03-01
          80+             67.0          60.0    1.1  2020-03-01
          70-79           65.0          67.0    1.0  2020-03-01
          missing          NaN           NaN    NaN  2020-03-01
          50-59           67.0          63.0    1.1  2020-03-01
          30-39           69.0          70.0    1.0  2020-03-01
          20-29           64.0          65.0    1.0  2020-03-01
          0-19             NaN           NaN    NaN  2020-03-01
          40-49           55.0          58.0    0.9  2020-03-01
          missing          NaN           NaN    NaN  2021-03-01
          60-69           69.0          59.0    1.2  2021-03-01
          80+             64.0           NaN    NaN  2021-03-01
          70-79           59.0          54.0    1.1  2021-03-01
          50-59           57.0          64.0    0.9  2021-03-01
          30-39           62.0          65.0    1.0  2021-03-01
          20-29           68.0          76.0    0.9  2021-03-01
          0-19            63.0          58.0    1.1  2021-03-01
          40-49            NaN          69.0    NaN  2021-03-01
          60-69           59.0          61.0    1.0  2022-03-01
          70-79           69.0          69.0    1.0  2022-03-01
          50-59           53.0           NaN    NaN  2022-03-01
          80+             68.0          74.0    0.9  2022-03-01
          30-39           70.0          71.0    1.0  2022-03-01
          20-29           64.0          61.0    1.0  2022-03-01
          0-19            68.0          72.0    0.9  2022-03-01
          40-49            NaN          46.0    NaN  2022-03-01
          missing          NaN           NaN    NaN  2022-03-01
Sex       F              273.0         267.0    1.0  2019-03-01
          M              227.0         233.0    1.0  2019-03-01
          M              248.0         242.0    1.0  2020-03-01
          F              252.0         258.0    1.0  2020-03-01
          F              249.0         264.0    0.9  2021-03-01
          M              251.0         236.0    1.1  2021-03-01
          F              267.0         252.0    1.1  2022-03-01
          M              233.0         248.0    0.9  2022-03-01

In [39]:
pd.pivot_table(df,index=['attribute','category'],values=['ast007_num','ast007_denom'],columns='date')

                   ast007_denom                                  ast007_num  \
date                 2019-03-01 2020-03-01 2021-03-01 2022-03-01 2019-03-01
attribute category
Age       0-19             70.0        NaN       58.0       72.0       54.0
          20-29            61.0       65.0       76.0       61.0       65.0
          30-39            57.0       70.0       65.0       71.0       53.0
          40-49             NaN       58.0       69.0       46.0       64.0
          50-59            67.0       63.0       64.0        NaN       74.0
          60-69            72.0       63.0       59.0       61.0       77.0
          70-79            69.0       67.0       54.0       69.0       62.0
          80+              53.0       60.0        NaN       74.0        NaN
Sex       F               267.0      258.0      264.0      252.0      273.0
          M               233.0      242.0      236.0      248.0      227.0


date               2020-03-01 2021-03-01 2022-03-01
attribute category
Age       0-19            NaN       63.0       68.0
          20-29          64.0       68.0       64.0
          30-39          69.0       62.0       70.0
          40-49          55.0        NaN        NaN
          50-59          67.0       57.0       53.0
          60-69          60.0       69.0       59.0
          70-79          65.0       59.0       69.0
          80+            67.0       64.0       68.0
Sex       F             252.0      249.0      267.0
          M             248.0      251.0      233.0

In [150]:
demo_list = []
for i in demographics:

    df = pd.read_csv(os.path.join(
        OUTPUT_DIR, 'joined', f'measure_{i}_rate.csv')).assign(attribute=i)
    for year in year_end_list:
        df_year = df[df['date'] == year].rename(columns={f'{i}': 'category'})
        new_cols = ["attribute", "category",
                    "ast007_num", "ast007_denom", "value", "date"]
        df_year = df_year.reindex(columns=new_cols)
        demo_list.append(df_year)

concat_tbl = pd.concat(demo_list)
print(concat_tbl)


# concat_tbl = pd.concat(demo_list)
# format_1 = pd.concat(concat_tbl,axis=1,keys=['date'])
# print(format_1)

               attribute                  category  ast007_num  ast007_denom  \
4                    sex                         F       273.0         267.0
5                    sex                         M       227.0         233.0
28                   sex                         F       252.0         258.0
29                   sex                         M       248.0         242.0
52                   sex                         F       249.0         264.0
53                   sex                         M       251.0         236.0
76                   sex                         F       267.0         252.0
77                   sex                         M       233.0         248.0
18              age_band                      0-19        54.0          70.0
19              age_band                     20-29        65.0          61.0
20              age_band                     30-39        53.0          57.0
21              age_band                     40-49        64.0           NaN
22              age_band                     50-59        74.0          67.0
23              age_band                     60-69        77.0          72.0
24              age_band                     70-79        62.0          69.0
25              age_band                       80+         NaN          53.0
26              age_band                   missing         NaN           NaN
126             age_band                      0-19         NaN           NaN
127             age_band                     20-29        64.0          65.0
128             age_band                     30-39        69.0          70.0
129             age_band                     40-49        55.0          58.0
130             age_band                     50-59        67.0          63.0
131             age_band                     60-69        60.0          63.0
132             age_band                     70-79        65.0          67.0
133             age_band                       80+        67.0          60.0
134             age_band                   missing         NaN           NaN
234             age_band                      0-19        63.0          58.0
235             age_band                     20-29        68.0          76.0
236             age_band                     30-39        62.0          65.0
237             age_band                     40-49         NaN          69.0
238             age_band                     50-59        57.0          64.0
239             age_band                     60-69        69.0          59.0
240             age_band                     70-79        59.0          54.0
241             age_band                       80+        64.0           NaN
242             age_band                   missing         NaN           NaN
341             age_band                      0-19        68.0          72.0
342             age_band                     20-29        64.0          61.0
343             age_band                     30-39        70.0          71.0
344             age_band                     40-49         NaN          46.0
345             age_band                     50-59        53.0           NaN
346             age_band                     60-69        59.0          61.0
347             age_band                     70-79        69.0          69.0
348             age_band                       80+        68.0          74.0
349             age_band                   missing         NaN           NaN
18                region                      East        52.0          46.0
19                region             East Midlands        46.0          52.0
20                region                    London       122.0         105.0
21                region                North East        46.0          53.0
22                region                North West        53.0          52.0
23                region                South East        50.0          58.0
24                region                South West        45.0          41.0
25                region             West Midlands        37.0          48.0
26                region  Yorkshire and The Humber        49.0          45.0
126               region                      East        53.0          59.0
127               region             East Midlands        50.0          46.0
128               region                    London        88.0         101.0
129               region                North East        46.0          55.0
130               region                North West        56.0          52.0
131               region                South East        51.0          47.0
132               region                South West        50.0          29.0
133               region             West Midlands        61.0          59.0
134               region  Yorkshire and The Humber        45.0          52.0
234               region                      East        50.0          57.0
235               region             East Midlands        41.0          41.0
236               region                    London       115.0         109.0
237               region                North East        58.0          50.0
238               region                North West        46.0          47.0
239               region                South East        39.0          51.0
240               region                South West        59.0          51.0
241               region             West Midlands        51.0          52.0
242               region  Yorkshire and The Humber        41.0          42.0
342               region                      East        58.0          47.0
343               region             East Midlands        51.0          53.0
344               region                    London       105.0         101.0
345               region                North East        39.0          37.0
346               region                North West        57.0          52.0
347               region                South East        49.0          47.0
348               region                South West        44.0          47.0
349               region             West Midlands        58.0          57.0
350               region  Yorkshire and The Humber        39.0          59.0
12                   imd                         1        94.0          96.0
13                   imd                         2       106.0          97.0
14                   imd                         3        95.0          98.0
15                   imd                         4        88.0          94.0
16                   imd                         5        95.0          87.0
17                   imd                   missing        22.0          28.0
84                   imd                         1        94.0          97.0
85                   imd                         2       101.0         107.0
86                   imd                         3       104.0          94.0
87                   imd                         4        92.0         101.0
88                   imd                         5        85.0          76.0
89                   imd                   missing        24.0          25.0
156                  imd                         1       102.0         119.0
157                  imd                         2       100.0          87.0
158                  imd                         3        93.0          90.0
159                  imd                         4        98.0         108.0
160                  imd                         5        82.0          70.0
161                  imd                   missing        25.0          26.0
228                  imd                         1       119.0         105.0
229                  imd                         2        90.0          88.0
230                  imd                         3       104.0         108.0
231                  imd                         4       100.0          96.0
232                  imd                         5        59.0          76.0
233                  imd                   missing        28.0          27.0
12             ethnicity                       NaN       479.0         481.0
13             ethnicity                     Black         NaN           NaN
14             ethnicity                     Mixed         NaN           NaN
15             ethnicity                     Other         6.0           6.0
16             ethnicity               South Asian         NaN           NaN
17             ethnicity                     White         NaN           NaN
84             ethnicity                       NaN       478.0         479.0
85             ethnicity                     Black         NaN           NaN
86             ethnicity                     Mixed         NaN           NaN
87             ethnicity                     Other         7.0           NaN
88             ethnicity               South Asian         8.0           NaN
89             ethnicity                     White         NaN           6.0
156            ethnicity                       NaN       487.0         483.0
157            ethnicity                     Black         6.0           NaN
158            ethnicity                     Mixed         NaN           NaN
159            ethnicity                     Other         NaN           NaN
160            ethnicity               South Asian         NaN           NaN
161            ethnicity                     White         NaN           NaN
228            ethnicity                       NaN       482.0         480.0
229            ethnicity                     Black         6.0           NaN
230            ethnicity                     Mixed         6.0           6.0
231            ethnicity                     Other         NaN           NaN
232            ethnicity               South Asian         NaN           NaN
233            ethnicity                     White         NaN           NaN
4    learning_disability                         0         NaN           NaN
5    learning_disability                         1         NaN           NaN
28   learning_disability                         0         NaN         494.0
29   learning_disability                         1         NaN           6.0
52   learning_disability                         0       493.0           NaN
53   learning_disability                         1         7.0           NaN
76   learning_disability                         0         NaN           NaN
77   learning_disability                         1         NaN           NaN
4              care_home                         0       392.0         390.0
5              care_home                         1       108.0         110.0
28             care_home                         0       403.0         401.0
29             care_home                         1        97.0          99.0
52             care_home                         0       403.0         398.0
53             care_home                         1        97.0         102.0
76             care_home                         0       402.0         403.0
77             care_home                         1        98.0          97.0

     value        date
4      1.0  2019-03-01
5      1.0  2019-03-01
28     1.0  2020-03-01
29     1.0  2020-03-01
52     0.9  2021-03-01
53     1.1  2021-03-01
76     1.1  2022-03-01
77     0.9  2022-03-01
18     0.8  2019-03-01
19     1.1  2019-03-01
20     0.9  2019-03-01
21     NaN  2019-03-01
22     1.1  2019-03-01
23     1.1  2019-03-01
24     0.9  2019-03-01
25     NaN  2019-03-01
26     NaN  2019-03-01
126    NaN  2020-03-01
127    1.0  2020-03-01
128    1.0  2020-03-01
129    0.9  2020-03-01
130    1.1  2020-03-01
131    1.0  2020-03-01
132    1.0  2020-03-01
133    1.1  2020-03-01
134    NaN  2020-03-01
234    1.1  2021-03-01
235    0.9  2021-03-01
236    1.0  2021-03-01
237    NaN  2021-03-01
238    0.9  2021-03-01
239    1.2  2021-03-01
240    1.1  2021-03-01
241    NaN  2021-03-01
242    NaN  2021-03-01
341    0.9  2022-03-01
342    1.0  2022-03-01
343    1.0  2022-03-01
344    NaN  2022-03-01
345    NaN  2022-03-01
346    1.0  2022-03-01
347    1.0  2022-03-01
348    0.9  2022-03-01
349    NaN  2022-03-01
18     1.1  2019-03-01
19     0.9  2019-03-01
20     1.2  2019-03-01
21     0.9  2019-03-01
22     1.0  2019-03-01
23     0.9  2019-03-01
24     1.1  2019-03-01
25     0.8  2019-03-01
26     1.1  2019-03-01
126    0.9  2020-03-01
127    1.1  2020-03-01
128    0.9  2020-03-01
129    0.8  2020-03-01
130    1.1  2020-03-01
131    1.1  2020-03-01
132    1.7  2020-03-01
133    1.0  2020-03-01
134    0.9  2020-03-01
234    0.9  2021-03-01
235    1.0  2021-03-01
236    1.1  2021-03-01
237    1.2  2021-03-01
238    1.0  2021-03-01
239    0.8  2021-03-01
240    1.2  2021-03-01
241    1.0  2021-03-01
242    1.0  2021-03-01
342    1.2  2022-03-01
343    1.0  2022-03-01
344    1.0  2022-03-01
345    1.1  2022-03-01
346    1.1  2022-03-01
347    1.0  2022-03-01
348    0.9  2022-03-01
349    1.0  2022-03-01
350    0.7  2022-03-01
12     1.0  2019-03-01
13     1.1  2019-03-01
14     1.0  2019-03-01
15     0.9  2019-03-01
16     1.1  2019-03-01
17     0.8  2019-03-01
84     1.0  2020-03-01
85     0.9  2020-03-01
86     1.1  2020-03-01
87     0.9  2020-03-01
88     1.1  2020-03-01
89     1.0  2020-03-01
156    0.9  2021-03-01
157    1.1  2021-03-01
158    1.0  2021-03-01
159    0.9  2021-03-01
160    1.2  2021-03-01
161    1.0  2021-03-01
228    1.1  2022-03-01
229    1.0  2022-03-01
230    1.0  2022-03-01
231    1.0  2022-03-01
232    0.8  2022-03-01
233    1.0  2022-03-01
12     1.0  2019-03-01
13     NaN  2019-03-01
14     NaN  2019-03-01
15     1.0  2019-03-01
16     NaN  2019-03-01
17     NaN  2019-03-01
84     1.0  2020-03-01
85     NaN  2020-03-01
86     NaN  2020-03-01
87     NaN  2020-03-01
88     NaN  2020-03-01
89     NaN  2020-03-01
156    1.0  2021-03-01
157    NaN  2021-03-01
158    NaN  2021-03-01
159    NaN  2021-03-01
160    NaN  2021-03-01
161    NaN  2021-03-01
228    1.0  2022-03-01
229    NaN  2022-03-01
230    1.0  2022-03-01
231    NaN  2022-03-01
232    NaN  2022-03-01
233    NaN  2022-03-01
4      NaN  2019-03-01
5      NaN  2019-03-01
28     NaN  2020-03-01
29     NaN  2020-03-01
52     NaN  2021-03-01
53     NaN  2021-03-01
76     NaN  2022-03-01
77     NaN  2022-03-01
4      1.0  2019-03-01
5      1.0  2019-03-01
28     1.0  2020-03-01
29     1.0  2020-03-01
52     1.0  2021-03-01
53     1.0  2021-03-01
76     1.0  2022-03-01
77     1.0  2022-03-01

In [149]:
#header = pd.MultiIndex.from_product([[]])
test=concat_tbl
# test['attribute']=concat_tbl['attribute'].replace({'age_band':'Age', 'sex':'Sex','imd':'IMD','region':'Region'
#     ,'ethnicity':'Ethnicity','care_home':'Care Home Status','learning_disability':'Learning Disability'})
test['category']=concat_tbl[(concat_tbl['category']==0)].replace({'0':'No record of care home'})

test



# fyear_201819 = concat_tbl[(concat_tbl['date']=='2019-03-01')].set_index(['attribute','category'])
# fyear_201920 = concat_tbl[(concat_tbl['date']=='2020-03-01')].set_index(['attribute','category'])


# joined = pd.concat([fyear_201819,fyear_201920],axis=1, keys=['2018/19','2019/20'])

# joined

ValueError: Columns must be same length as key

In [62]:
print(concat_tbl.columns)
print(concat_tbl.index)
#concat_tbl.set_index(['attribute','category'],inplace=True)
#concat_tbl

Index(['attribute', 'category', 'ast007_num', 'ast007_denom', 'value', 'date'], dtype='object')
Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
            ...
            68, 69, 70, 71, 72, 73, 74, 75, 76, 77],
           dtype='int64', length=1403)